@model IEnumerable<TrojWebApp.Models.TariffLevelsViewModel>

@{
    ViewData["Title"] = "Addera / ändra tariffer";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="tablehead2">Tarfiff:</th>
                    <th class="tablehead2">Från:</th>
                    <th class="tablehead2">Till:</th>
                    <th class="tablehead2">Nivå:</th>
                    <th class="tablehead2">Giltig:</th>
                    <th class="tablehead2"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="tablefont2" nowrap>
                                @Html.DisplayFor(modelItem => item.TariffType)
                            </td>
                            <td class="tablefont2" nowrap>
                                @Html.DisplayFor(modelItem => item.ValidFrom)
                            </td>
                            <td class="tablefont2" nowrap>
                                @Html.DisplayFor(modelItem => item.ValidTo)
                            </td>
                            <td class="tablefont2" nowrap>
                                @Html.DisplayFor(modelItem => item.TariffLevel)
                            </td>
                            <td class="tablefont2" nowrap>
                                @Html.DisplayFor(modelItem => item.Valid)
                            </td>
                            @if (@ViewBag.EditPermission)
                            {
                                <td class="tablefont2" nowrap>
                                    @Html.ActionLink("Ändra...", "Edit", new { id=item.TariffLevelId})
                                </td>
                            }
                            else
                            {
                                 <td class="tablefont2" nowrap></td>                               
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>