@model TrojWebApp.Models.CaseNumbersModel

@{
    ViewData["Title"] = "Addera målnummer för uppdrag";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id=@ViewBag.CaseId title="Tillbaka till uppdrag"><span class='glyphicon glyphicon-home' /></a></td>
        <td class="subhead" nowrap>@Html.ActionLink("Ändra updrag", "Edit", "Cases", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap>@Html.ActionLink("Addera person", "Create", "PersonCases", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap>@Html.ActionLink("Dagboksanteckningar", "Index", "CaseLogs", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap>@Html.ActionLink("Klientmedel", "Index", "ClientFundings", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap>@Html.ActionLink("Addera underlag", "Create", "InvoiceUnderlays", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap>@Html.ActionLink("Åtgärder", "Details", "WorkingTimes", new { id = @ViewBag.CaseId })</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @ViewBag.CaseLinkText</h1>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseId" value="@ViewBag.CaseId"/>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Instans:</th>
                    <td>
                        <select name="CourtId"
                                asp-for="CourtId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Courts,"Value","Text"))">
                        </select>
                        <span asp-validation-for="CourtId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Målnummer:</th>
                    <td>
                        <input asp-for="CaseNumber" size="40" class="font2" />
                        <span asp-validation-for="CaseNumber" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Addera" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
