@model IEnumerable<TrojWebApp.Models.CaseLogsViewModel>

@{
    ViewData["Title"] = "Dagbok för uppdrag";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id=@ViewBag.CaseId title="Tillbaka till uppdrag"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = @ViewBag.CaseId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @ViewBag.CaseLinkText,  @ViewBag.Client</h1>
@if (ViewBag.CaseActive == false)
{
    <h3><span class="label label-danger">Uppdraget är inte aktivt, vill du göra ändringar, aktivera uppdraget på: @Html.ActionLink("Ändra uppdrag", "Edit", "Cases", new { id = @ViewBag.CaseId }, new { style = "color: black;" })</span></h3>
    <br />
}
else
{
    @if (@ViewBag.CreatePermission)
    {
        <div class="row">
            <div class="col-sm-2">
                <table class="table table-condensed table-no-border">
                    <tr>
                        <td class="head">Anteckning:</td>
                        <td class="head">Datum:</td>
                        <td class="head"></td>
                    </tr>
                    <tr>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input name="CaseId" type="hidden" value="@ViewBag.CaseId" />
                        <td>
                            <input name="Comment" type="text" size="60" class="font2" />
                        </td>
                        <td>
                            <input name="WhenDate" type="date" value="@ViewBag.CurrentDate" class="font2" />
                        </td>
                        <td>
                            <input type="submit" value="Skapa" class="btn btn-primary" />
                        </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    }
}

@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-sm-12" style="margin-left: 6px;">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="tablehead2">Anteckningar:</th>
                        <th class="tablehead2">Datum:</th>
                        <th class="tablehead2">Skapad:</th>
                        <th class="tablehead2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CaseLogsViewModel item in Model)
                    {
                        <tr>
                            <td class="tablefont2" style="width:max-content;">@Html.DisplayFor(modelItem => item.Comment)</td>
                            @{
                                string title = "";
                                    title = "Ändrad: " + item.Changed.ToString();

                                string changed = "";
                                    changed = item.Changed.ToString();

                                string date = item.WhenDate;
                                if (string.IsNullOrEmpty(item.WhenDate) || item.WhenDate.Contains("1900-01-01"))
                                        date = "";
                            }
                            <td class="tablefont2" title=@title nowrap>@Html.DisplayFor(modelItem => date)</td>
                            <td class="tablefont2" title=@title nowrap>@Html.DisplayFor(modelItem => changed) av @Html.DisplayFor(modelItem => item.ChangedBy)</td>
                            @if (@ViewBag.DeletePermission)
                            {
                                @if (ViewBag.CaseActive)
                                {
                                    <td class="tablefont2">@Html.ActionLink("Radera", "Delete", "CaseLogs", new { id = @item.CaseLogId, caseId = @ViewBag.CaseId })</td>
                                }
                                else
                                {
                                    <td class="tablefont2"></td>
                                }
                            }
                            else
                            {
                                <td class="tablefont2"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

