@model TrojWebApp.Models.InvoicesViewModel

@{
    ViewData["Title"] = "Faktura";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Invoices" asp-action="Index" title="Tillbaka till fakturor"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = Model.InvoiceId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @Model.InvoiceNumber</h1>
<div class="row">
    <div class="col-sm-2">
        <table border="0" class="table table-condensed table-no-border">
            <tr>
                <td class="head">Uppdrag:</td>
                <td class="head">Underlag:</td>
                <td class="head">Klient:</td>
                <td class="head">Ombud:</td>
                <td class="head">Fakturadatum:</td>
                <td class="head">Förfallodatum:</td>
                <td class="head">Ort:</td>
                <td class="head">Låst:</td>
            </tr>
            <tr>
                <td class="font2" nowrap>@Html.ActionLink(Model.CaseType + "/" + Model.CaseId.ToString(), "Details", "Cases", new { id = Model.CaseId })</td>
                <td class="font2" nowrap>@Html.ActionLink(Model.UnderlayNumber, "Details", "InvoiceUnderlays", new { id = Model.InvoiceUnderlayId })</td>
                <td class="font2" nowrap>@Html.ActionLink(Model.FirstName + " " + Model.LastName + "/" + Model.PersonId.ToString(), "Details", "Persons", new { id = Model.PersonId })</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Initials)</td>
                <td class="font2" nowrap>@Model.InvoiceDate.ToShortDateString()</td>
                <td class="font2" nowrap>@Model.ExpirationDate.ToShortDateString()</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.InvoicePlace)</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Locked)</td>
            </tr>
            <tr>
                <td class="head">Mottagare:</td>
                <td class="head">Fördelning:</td>
                <td class="head">Moms:</td>
                <td class="head">Summa:</td>
            </tr>
            <tr>
                <td class="font2" nowrap>@Html.Raw(@Convert.ToString(@ViewBag.Receiver))</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Division) %</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Vat)</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Sum)</td>
            </tr>
        </table>
    </div>
</div>

@{
    if (ViewBag.Summaries != null)
    {
        <div class="row">
            <div class="col-sm-2">
                <table border="0" class="table table-condensed">
                    <thead>
                        <tr><th class="head" colspan="4">Summering:</th></tr>
                        <tr>
                            <th class="tablehead2">Typ:</th>
                            <th class="tablehead2">Antal:</th>
                            <th class="tablehead2">Styckkost:</th>
                            <th class="tablehead2">Summa:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (InvoiceSummarysViewModel item in ViewBag.Summaries)
                        {
                            <tr style="background-color:@item.BackgroundColor;">
                                <td class="tablefont2" nowrap>@item.TariffType</td>
                                <td class="tablefont2" nowrap>@item.UnitCounts</td>
                                <td class="tablefont2" nowrap>@item.UnitCost</td>
                                <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.Sum)</td>
                            </tr>
                        }
                        <tr>
                            <td class="tablehead2" nowrap>Summa exklusive moms:</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalSum)</td>
                        </tr>
                        <tr>
                            <td class="tablehead2">Moms (@ViewBag.Vat %):</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalVatSum)</td>
                        </tr>
                        <tr>
                            <td class="tablehead2" nowrap>Summa inklusive moms:</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2">&nbsp;</td>
                            <td class="tablehead2" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalSumWithVat)</td>
                        </tr>
                        @if (@ViewBag.ClientFundingTotalSum != 0)
                        {
                            <tr>
                                <td class="tablehead2" nowrap>Klientmedel:</td>
                                <td class="tablehead2">&nbsp;</td>
                                <td class="tablehead2">&nbsp;</td>
                                <td class="tablehead2" align="right">@String.Format("{0:#,##0.00}", @ViewBag.ClientFundingTotalSum)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<div class="row">
    <table class="col-md-12" nowrap>
        <tr>
            <td nowrap style="width: 100%;"></td>
            <td class="navbar-text navbar-right" nowrap>Ändrad: @Html.DisplayFor(model => model.Changed) av: @Html.DisplayFor(model => model.ChangedBy)</td>
        </tr>
    </table>
</div>
