@model IEnumerable<TrojWebApp.Models.InvoiceSummarysViewModel>

@{
    ViewData["Title"] = "Summering av faktura";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Invoices" asp-action="Details" asp-route-id=@ViewBag.InvoiceId title="Tillbaka till faktura"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = @ViewBag.InvoiceId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @ViewBag.InvoiceLinkText</h1>

@if (ViewBag.CreatePermission)
{
    <div class="row">
        <div class="col-sm-1">
            <table class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Typ:</th>
                    <th class="head">Antal:</th>
                    <td class="head"></td>
                </tr>
                <tr>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input name="InvoiceId" type="hidden" value="@ViewBag.InvoiceId" />
                    <td>
                        <select class="font2" name="TariffTypeId"
                            asp-items="@(new SelectList(ViewBag.TariffTypesWithLevel,"Value","Text"))">
                        </select>
                    </td>
                    <td>
                        <input name="UnitCounts" type="text" size="10" class="font2" />
                    </td>
                    <td>
                        <input type="submit" value="Skapa" class="btn btn-primary" />
                    </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
}

@if (ViewBag.CreateNoneLevelPermission)
{
    <div class="row">
        <div class="col-sm-1">
            <table class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Typ:</th>
                    <th class="head">Antal:</th>
                    <th class="head">Styckkost:</th>
                    <td class="head"></td>
                </tr>
                <tr>
                    <form asp-action="CreateNoneLevel">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input name="InvoiceId" type="hidden" value="@ViewBag.InvoiceId" />
                    <td>
                        <select class="font2" name="TariffTypeId"
                            asp-items="@(new SelectList(ViewBag.TariffTypesNoneLevel,"Value","Text"))">
                        </select>
                    </td>
                    <td>
                        <input name="UnitCounts" type="text" size="10" class="font2" />
                    </td>
                    <td>
                        <input name="UnitCost" type="text" size="10" class="font2" />
                    </td>
                    <td>
                        <input type="submit" value="Skapa" class="btn btn-primary" />
                    </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
}


@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-sm-2" style="margin-left: 6px;">
            <table border="0" class="table table-condensed">
                <thead>
                    <tr><th class="head" colspan="5">Summering:</th></tr>
                    <tr>
                        <th class="tablehead2">Typ:</th>
                        <th class="tablehead2">Antal:</th>
                        <th class="tablehead2">Styckkost:</th>
                        <th class="tablehead2">Summa:</th>
                        <th class="tablehead2"></th>
                        <th class="tablehead2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InvoiceSummarysViewModel item in Model)
                    {
                        <tr style="background-color:@item.BackgroundColor;">
                            @if (ViewBag.EditPermission)
                            {
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" name="InvoiceSummaryId" value="@item.InvoiceSummaryId" />
                                    <input type="hidden" name="InvoiceId" value=" @ViewBag.InvoiceId" />
                                <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.TariffType)</td>
                                <td class="tablefont2" nowrap>
                                    <input class="font2" name="UnitCounts" type="text" size="10" value="@item.UnitCounts" />
                                </td>
                                <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.UnitCost)</td>
                                <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.Sum)</td>
                                <td class="tablefont2" nowrap><input type="submit" value="Ändra" class="btn btn-primary" /></td>
                                </form>
                            }
                            else
                            {
                                <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.TariffType)</td>
                                <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.UnitCounts)</td>
                                <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.UnitCost)</td>
                                <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.Sum)</td>
                                <td class="tablefont2" nowrap></td>
                            }
                            @if (ViewBag.DeletePermission)
                            {
                                <form asp-action="Delete">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" name="InvoiceSummaryId" value="@item.InvoiceSummaryId" />
                                    <input type="hidden" name="InvoiceId" value=" @ViewBag.InvoiceId" />
                                <td class="tablefont2" nowrap><input type="submit" value="Radera" class="btn btn-primary" /></td>
                                </form>
                            }
                            else
                            {
                                <td class="tablefont2" nowrap></td>
                            }
                        </tr>
                    }
                </tbody>
                <tr>
                    <td class="tablehead2">Summa:</td>
                    <td class="tablehead2">@ViewBag.TotalHours</td>
                    <td class="tablehead2">&nbsp;</td>
                    <td class="tablehead2" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalSum)</td>
                    <td class="tablehead2">&nbsp;</td>
                    <td class="tablehead2">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}

