@model IEnumerable<TrojWebApp.Models.InvoiceWorkingTimesViewModel>

@{
    ViewData["Title"] = "Addera fakturaunderlag";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="InvoiceUnderlays" asp-action="Details" asp-route-id=@ViewBag.InvoiceUnderlayId title="Tillbaka till underlag"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = @ViewBag.InvoiceUnderlayId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]</h1>
@if (ViewBag.UnderlayLocked)
{
    <h3><span class="label label-danger">Underlaget är låst, vill addera fakturaunderlag, lås upp underlaget på: @Html.ActionLink("Ändra underlag", "Edit", "InvoiceUnderlays", new { id = @ViewBag.InvoiceUnderlayId }, new { style = "color: black;" })</span></h3>
    <br />
}
<div class="row">
    <div class="col-sm-2">
        <table border="0" class="table table-condensed table-no-border">
            <tr>
                <td class="head">Underlag:</td>
                <td class="head">Uppdrag:</td>
            </tr>
            <tr>
                <td class="font2" nowrap>@Html.ActionLink((string)ViewBag.UnderlayLinkText, "Details", "InvoiceUnderlays", new { id = @ViewBag.InvoiceUnderlayId })</td>
                <td class="font2" nowrap>@Html.ActionLink((string)ViewBag.CaseLinkText, "Details", "Cases", new { id = @ViewBag.CaseId })</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <table border="0" cellpadding="4" cellspacing="0" class="table table-condensed table-no-border">
            <tr>
                <td valign="top">

                    @if (ViewBag.WorkinTimes.Count > 0)
                    {
                        <table border="0" class="table table-condensed table-no-border">
                            <form asp-action="MoveAllWorkingTimes">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="InvoiceUnderlayId" value="@ViewBag.InvoiceUnderlayId" />
                                <input type="hidden" name="CaseId" value="@ViewBag.CaseId" />
                            <tr>
                                <td class="head" colspan="7">Åtgärder:</td>
                                    @if (ViewBag.MoveAllPermission)
                                    {
                                        @if (ViewBag.UnderlayLocked == false)
                                        {
                                        <td class="head" align="right"><input type="submit" value="Flytta alla>>" class="btn btn-primary"></td>
                                        }
                                        else
                                        {
                                        <td class="head" align="right"></td>
                                        }
                                    }
                                    else
                                    {
                                    <td class="head" align="right"></td>
                                    }
                            </tr>
                            </form>
                            <tr>
                                <td class="tablehead2">Datum:</td>
                                <td class="tablehead2">Typ:</td>
                                <td class="tablehead2">Kontext:</td>
                                <td class="tablehead2">Antal:</td>
                                <td class="tablehead2">Styckkost:</td>
                                <td class="tablehead2">Summa:</td>
                                <td class="tablehead2">Ombud:</td>
                                <td class="tablehead2"></td>
                            </tr>
                            @foreach (WorkingTimesViewModel item in ViewBag.WorkinTimes)
                            {
                                <form asp-action="MoveWorkingTime">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" name="WorkingTimeId" value="@item.WorkingTimeId" />
                                    <input type="hidden" name="InvoiceUnderlayId" value="@ViewBag.InvoiceUnderlayId" />
                                <tr style="background-color:@item.BackgroundColor;">
                                    <td class="tablefont2" title="@Html.DisplayFor(modelItem => item.Changed) av: @Html.DisplayFor(modelItem => item.ChangedBy)" nowrap>@string.Format("{0:yyyy-MM-dd}", item.WhenDate)</td>
                                    <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.TariffType)</td>
                                    <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.Comment)</td>
                                    <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.NumberOfHours)</td>
                                        @{
                                            double unitCost = item.TariffLevel;
                                            if (item.Cost != null)
                                                unitCost = item.Cost ?? 0;
                                        }
                                    <td class="tablefont2" nowrap>@unitCost</td>
                                    <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.Sum)</td>
                                    <td class="tablefont2" nowrap>@Html.DisplayFor(modelItem => item.Initials)</td>
                                        @if (ViewBag.MovePermission)
                                        {
                                            @if (ViewBag.UnderlayLocked == false)
                                            {
                                            <td class="tablefont2"><input type="submit" value="Flytta >>" class="btn btn-primary"></td>
                                            }
                                            else
                                            {
                                            <td class="tablefont2"></td>
                                            }
                                        }
                                        else
                                        {
                                        <td class="tablefont2"></td>
                                        }
                                </tr>
                                </form>
                            }
                        </table>
                    }
                </td>
                <td valign="top">
                    @if (Model.Count() > 0)
                    {
                        <table border="0" class="table table-condensed table-no-border">
                            <form asp-action="RemoveAllWorkingTimes">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="InvoiceUnderlayId" value="@ViewBag.InvoiceUnderlayId" />
                            <tr>
                                <td class="head" colspan="7">Fakturaunderlag:</td>
                                    @if (ViewBag.RemoveAllPermission)
                                    {
                                        @if (ViewBag.UnderlayLocked == false)
                                        {
                                        <td class="head" align="right"><input type="submit" value="<< Flytta alla" class="btn btn-primary"></td>
                                        }
                                        else
                                        {
                                        <td class="head" align="right"></td>
                                        }
                                    }
                                    else
                                    {
                                    <td class="head" align="right"></td>
                                    }
                            </tr>
                            </form>
                            <tr>
                                <th class="tablehead2">Datum:</th>
                                <th class="tablehead2">Typ:</th>
                                <th class="tablehead2">Kontext:</th>
                                <th class="tablehead2">Antal:</th>
                                <th class="tablehead2">Styckkost:</th>
                                <th class="tablehead2">Summa:</th>
                                <th class="tablehead2">Ombud:</th>
                                <th class="tablehead2"></th>
                            </tr>
                            @foreach (InvoiceWorkingTimesViewModel item in Model)
                            {
                                <form asp-action="RemoveWorkingTime">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" name="InvoiceWorkingTimeId" value="@item.InvoiceWorkingTimeId" />
                                    <input type="hidden" name="InvoiceUnderlayId" value="@ViewBag.InvoiceUnderlayId" />
                                <tr style="background-color:@item.BackgroundColor;">
                                    <td class="tablefont2" nowrap>@string.Format("{0:yyyy-MM-dd}", item.WhenDate)</td>
                                    <td class="tablefont2" nowrap>@item.TariffType</td>
                                    <td class="tablefont2" nowrap>@item.Comment</td>
                                    <td class="tablefont2" nowrap>@item.NumberOfHours</td>
                                    <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.UnitCost)</td>
                                    <td class="tablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.Sum)</td>
                                    <td class="tablefont2" nowrap>@item.Initials</td>
                                        @if (ViewBag.RemovePermission)
                                        {
                                            @if (ViewBag.UnderlayLocked == false)
                                            {
                                            <td class="tablefont2"><input type="submit" value="<< Flytta" class="btn btn-primary"></td>
                                            }
                                            else
                                            {
                                            <td class="tablefont2"></td>
                                            }
                                        }
                                        else
                                        {
                                        <td class="tablefont2"></td>
                                        }
                                </tr>
                                </form>
                            }
                        </table>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>