@model TrojWebApp.Models.SubPageMenusModel
@{
    ViewData["Title"] = "Skapa meny för undersida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med länkar till meny", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa SQL kommandon", "Sql")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med undersidor", "Index", "SubPages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>

<div class="row">
    <div class="col-sm-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Förälder:</th>
                    <td>
                        <select name="ParentPageId"
                                asp-for="ParentPageId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Parents,"Value","Text"))">
                        </select>
                        <span asp-validation-for="ParentPageId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Barn:</th>
                    <td>
                        <select name="ChildPageId"
                                asp-for="ChildPageId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Children,"Value","Text"))">
                        </select>
                        <span asp-validation-for="ChildPageId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Position:</th>
                    <td>
                        <input asp-for="Position" size="40" class="font2" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Skapa" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
