@model IEnumerable<TrojWebApp.Models.SubPageMenusModel>
@{
    ViewData["Title"] = "Insert into SubPageMenus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO SubPageMenus (ParentPageId,ChildPageId,Position,Changed,ChangedBy)
                VALUES(
                @item.ParentPageId,
                @item.ChildPageId,
                @item.Position,
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
