@model IEnumerable<TrojWebApp.Models.SubPageMenusModel>
@{
    ViewData["Title"] = "Insert into SubPageMenus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med länkar till meny", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Addera länk till meny", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med undersidor", "Index", "SubPages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO SubPageMenus (ParentPageId,ChildPageId,Position,Changed,ChangedBy)
                VALUES(
                @item.ParentPageId,
                @item.ChildPageId,
                @item.Position,
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
