@model IEnumerable<TrojWebApp.Models.SubPageUsersView3Model>
@{
    ViewData["Title"] = "Användare för undersidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa användare för undersida", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Kopiera användare till undersidor", "Copy")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa SQL kommandon", "Sql")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med undersidor", "Index", "SubPages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<div class="row">
    <div class="col-sm-2">
        <table class="table table-condensed table-no-border">
            <tr>
                <td class="head">Användare:</td>
                <td class="head"></td>
            </tr>
            <tr>
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <td>
                    <select name="EmployeeId" class="font2">
                            @foreach (SelectListItem option in ViewBag.Employees)
                            {
                                if (option.Value == ViewBag.Initials)
                                {
                                <option value="@option.Value" selected="selected">@option.Text</option>
                                }
                                else
                                {
                                <option value="@option.Value">@option.Text</option>
                                }
                            }
                    </select>
                </td>
                <td>
                    <input type="submit" value="Sök" class="btn btn-primary" />
                </td>
                </form>
                <form asp-action="Reset">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <td>
                    <input type="submit" value="Nollställ" class="btn btn-primary" />
                </td>
                </form>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <table class="table table-condensed table-no-border">
            <tr>
                <td class="head">Antal poster: @ViewBag.NumberOfItems</td>
            </tr>
        </table>
    </div>
</div>

<table class="table table-condensed table-no-border">
    <thead>
        <tr>
            <th class="tablehead2">Sida:</th>
            <th class="tablehead2">Kontroller:</th>
            <th class="tablehead2">Aktion:</th>
            <th class="tablehead2">Position:</th>
            <th class="tablehead2">Användare:</th>
            <th class="tablehead2">Ändrad:</th>
            <th class="tablehead2" nowrap>Ändrad av:</th>
            <th class="tablehead2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Controller)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="tablefont2" nowrap>
                    @string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.Changed)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.ChangedBy)
                </td>
                <td class="tablefont2" nowrap>
                    <a asp-action="Delete" asp-route-id="@item.SubPageUserId">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
