@model IEnumerable<TrojWebApp.Models.SubPageUsers3Model>
@{
    ViewData["Title"] = "Insert into SubPageUsers3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO SubPageUsers3 (PageId,EmployeeId,Changed,ChangedBy)
                VALUES(
                @item.SubPageId,
                @item.EmployeeId,
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
