@model IEnumerable<TrojWebApp.Models.SubPageUsers3Model>
@{
    ViewData["Title"] = "Insert into SubPageUsers3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med användare för undersidor", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa användare för undersida", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Kopiera användare till undersidor", "Copy")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med undersidor", "Index", "SubPages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO SubPageUsers3 (PageId,EmployeeId,Changed,ChangedBy)
                VALUES(
                @item.SubPageId,
                @item.EmployeeId,
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
