@model IEnumerable<TrojWebApp.Models.Pages3Model>
@{
    ViewData["Title"] = "Insert into Pages3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med huvudsidor", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa huvudsida", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med undersidor", "Index", "SubPages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO Pages3 ([Title],[Controller],[Action],[Tip],[Position],[HasChild],[Changed],[ChangedBy])
                VALUES(
                '@item.Title',
                '@item.Controller',
                '@item.Action',
                '@item.Tip',
                @item.Position,
                @if (@item.HasChild)
                {
                    <span>1,</span>
                }
                else
                {
                    <span>0,</span>
                }
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
