@model TrojWebApp.Models.InvoiceUnderlaysViewModel
@{
    ViewData["Title"] = "Kostnadsräkning";
    Layout = "/Views/Shared/_CostReport.cshtml";
}
<div id="bodyUpperDiv">
    <table border="0" cellpadding="1" cellspacing="0">
        @if (@ViewBag.Date == false)
        {
            <tr><td class="avaFont3" valign="top" align="left" nowrap>@Html.DisplayFor(model => model.UnderlayPlace) @string.Format("{0:yyyy-MM-dd}", Model.UnderlayDate)</td></tr>
        }
        <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="30"></td></tr>
        <tr><td class="avaFont5" valign="top" align="left" nowrap>KOSTNADSRÄKNING</td></tr>
        <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="15"></td></tr>
        @if (@ViewBag.CaseNumber == false)
        {
            <tr>
                <td class="avaHeadPrint" valign="top" align="left" nowrap>
                    Målnummer:
                    @if (ViewBag.CaseNumbers != null)
                    {
                        @foreach (CaseNumbersViewModel item in ViewBag.CaseNumbers)
                        {
                            @item.CaseNumber
                        }
                    }
                </td>
            </tr>
        }
        <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="5"></td></tr>
        <tr><td class="avaFont4" valign="top" align="left" nowrap>@Html.DisplayFor(model => model.Headline1)</td></tr>
        <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="10"></td></tr>
        @if (@ViewBag.Client == false)
        {
            <tr><td class="avaFont3" valign="top" align="left" nowrap>Klient/Uppdrag: @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName) / @Html.DisplayFor(model => model.CaseType)</td></tr>
            <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="10"></td></tr>
        }
        <tr><td class="avaHeadPrint" valign="top" align="left" nowrap>Referens: @Html.DisplayFor(model => model.UnderlayNumber) (anges vid betalning)</td></tr>
        <tr><td colspan="2"><img src="@ViewBag.BlankImage" width="1" height="10"></td></tr>
        <tr><td class="avaHeadPrint" valign="top" align="left" nowrap>Arbetsredogörelse:</td></tr>
        <tr><td colspan="2"><img src="<%=sDomain%>/ssi/images/blank.gif" width="1" height="5" border="0"></td></tr>
        <tr><td class="avaFont3" valign="top" align="left" nowrap>@Html.DisplayFor(model => model.Headline2)</td></tr>
        <tr><td colspan="2"><img src="<%=sDomain%>/ssi/images/blank.gif" width="1" height="30" border="0"></td></tr>
    </table>
    @{
        if (ViewBag.UnderlaySummeries != null)
        {
            <table border="0" class="table table-report">
                <tr>
                    <td class="avaTablehead2w">Typ:</td>
                    <td class="avaTablehead2w">Antal:</td>
                    <td class="avaTablehead2w" align="right">Styckkost:</td>
                    <td class="avaTablehead2w" align="right">Summa:</td>
                </tr>

                @foreach (InvoiceUnderlaySummarysModel item in ViewBag.UnderlaySummeries)
                {
                    <tr>
                        <td class="avaTablefont2" nowrap>@item.TariffType</td>
                        <td class="avaTablefont2" nowrap>@item.SumHours</td>
                        <td class="avaTablefont2" align="right" nowrap>@item.UnitCost</td>
                        <td class="avaTablefont2" align="right" nowrap>@String.Format("{0:#,##0.00}", item.SumCosts)</td>
                    </tr>
                }
                <tr>
                    <td class="avaTablehead2w" nowrap>Summa exklusive moms:</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalSum)</td>
                </tr>
                <tr>
                    <td class="avaTablehead2w">Moms((@ViewBag.Vat %):</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalVatSum)</td>
                </tr>
                <tr>
                    <td class="avaTablehead2w" nowrap>Summa inklusive moms:</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w">&nbsp;</td>
                    <td class="avaTablehead2w" align="right">@String.Format("{0:#,##0.00}", @ViewBag.TotalSumWithVat)</td>
                </tr>
            </table>
        }
    }
</div>

<div id="bodyLowerDiv">
    <table border="0" cellpadding="1" cellspacing="0">
        <tr><td class="avaFont3" valign="top">Datum som ovan</td></tr>
        <tr><td><img src="@ViewBag.SignatureLink" alt="Signature" border="0"></td></tr>
        <tr><td><img src="@ViewBag.BlankImage" width="1" height="30" border="0"></td></tr>
        <tr><td class="avaFont3" valign="top">@ViewBag.EmployeeFirstName @ViewBag.EmployeeLastName</td></tr>
        <tr><td class="avaFont3" valign="top">@ViewBag.EmployeeTitle</td></tr>
    </table>
</div>

<div id="headDiv" style="left: 65mm;">
    <table border="0" width="100%" height="80" cellspacing="0" cellpadding="0">
        <tr><td width="100%"><img src="@ViewBag.LogoImage" width="164" height="80" border="0" alt="Logo"></td></tr>
    </table>
</div>

<div id="addressDiv">
    <table border="0" cellpadding="2" cellspacing="0">
        <tr><td class="avaFont3">@Html.DisplayFor(model => model.ReceiverName)</td></tr>
        <tr><td class="avaFont3">@Html.DisplayFor(model => model.CareOf)</td></tr>
        @if (Model.StreetName != "")
        {
            <tr><td class="avaFont3">@Html.DisplayFor(model => model.StreetName) @Html.DisplayFor(model => model.StreetNumber)</td></tr>
        }
        <tr><td class="avaFont3">@Html.DisplayFor(model => model.PostalCode) @Html.DisplayFor(model => model.PostalAddress)</td></tr>
    </table>
</div>

<div id="footDiv">
    <table border="0" cellpadding="@ViewBag.NumberOfColumns" cellspacing="0" width="100%" class="footfont2">
        <tr><td colspan="4"><hr></td></tr>
        @Html.Raw(@ViewBag.AddressFoot)
    </table>
</div>



