@model TrojWebApp.Models.InvoiceUnderlaysModel

@{
    ViewData["Title"] = "Skapa underlag för uppdrag";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id=@ViewBag.CaseId title="Tillbaka till uppdraget"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = @ViewBag.CaseId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @ViewBag.CaseLinkText</h1>
@if (ViewBag.NumberOfUnderlays > 0)
{
    @if (ViewBag.NumberOfUnderlays == 1)
    {
            <h2><span class="label label-danger">Uppdraget har redan ett underlag!</span></h2>
    }
    else
    {
        <h2><span class="label label-danger">Uppdraget har redan @ViewBag.NumberOfUnderlays underlag!</span></h2>
    }
}
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseId" value="@ViewBag.CaseId"/>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Mottagare:</th>
                    <td>
                        <select name="CourtId" class="font2">
                            <option value="0"></option>
                            @foreach (SelectListItem option in ViewBag.Courts)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select name="PersonId" class="font2">
                            <option value="0"></option>
                            @foreach (SelectListItem option in ViewBag.Persons)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </select>
                      </td>
                </tr>
                <tr>
                    <th class="head">Ombud:</th>
                    <td>
                        <select name="EmployeeId"
                                asp-for="EmployeeId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Employees,"Value","Text"))">
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Ort:</th>
                    <td>
                        <input name="Place" value="@ViewBag.Place" type="text" size="20" class="font2" />
                    </td>
                </tr>
                <tr>
                    <th class="head">Datum:</th>
                    <td>
                        <input name="UnderlayDate" value="@ViewBag.CurrentDate" type="date" class="font2" />
                    </td>
                </tr>
                <tr>
                    <th class="head">Moms:</th>
                    <td>
                        <input name="Vat" value="@ViewBag.Vat" type="text" size="5" class="font2" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Skapa" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
