@model TrojWebApp.Models.PageUsers3Model
@{
    ViewData["Title"] = "Skapa användare för huvudsida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med användare", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Kopiera användare till huvudsidor", "Copy")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa SQL kommandon", "Sql")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med huvudsidor", "Index", "Pages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Sida:</th>
                    <td>
                        <select name="PageId"
                                asp-for="PageId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Pages,"Value","Text"))">
                        </select>
                        <span asp-validation-for="PageId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Användare:</th>
                    <td>
                        <select name="EmployeeId"
                                asp-for="EmployeeId" class="font2"
                                asp-items="@(new SelectList(ViewBag.Employees,"Value","Text"))">
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Skapa" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
