@model IEnumerable<TrojWebApp.Models.PageUsersView3Model>
@{
    ViewData["Title"] = "Användare för huvudsidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa använadare", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Kopiera användare till huvudsidor", "Copy")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa SQL kommandon", "Sql")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med huvudsidor", "Index", "Pages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<table class="table table-condensed table-no-border">
    <thead>
        <tr>
            <th class="tablehead2">Huvudsida:</th>
            <th class="tablehead2">Position:</th>
            <th class="tablehead2">Användare:</th>
            <th class="tablehead2">Ändrad:</th>
            <th class="tablehead2" nowrap>Ändrad av:</th>
            <th class="tablehead2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="tablefont2" nowrap>
                    @string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.Changed)
                </td>
                <td class="tablefont2" nowrap>
                    @Html.DisplayFor(modelItem => item.ChangedBy)
                </td>
                <td class="tablefont2" nowrap>
                    <a asp-action="Delete" asp-route-id="@item.PageUserId">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
