@model IEnumerable<TrojWebApp.Models.PageUsers3Model>
@{
    ViewData["Title"] = "Insert into PageUsers3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med användare", "Index")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa använadare", "Create")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Kopiera användare till huvudsidor", "Copy")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Skapa SQL kommandon", "Sql")</td>
        <td class="subhead" nowrap>@Html.ActionLink("Lista med huvudsidor", "Index", "Pages")</td>
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO PageUsers3 (PageId,EmployeeId,Changed,ChangedBy)
                VALUES(
                @item.PageId,
                @item.EmployeeId,
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
