@model IEnumerable<TrojWebApp.Models.SubPages3Model>
@{
    ViewData["Title"] = "Insert into SubPages3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-condensed table-no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="subhead2" nowrap>
                INSERT INTO SubPages3 (PageId,Title,Controller,Action,Tip,Position,HasChild,Changed,ChangedBy)
                VALUES(
                @item.PageId,
                '@item.Title',
                '@item.Controller',
                '@item.Action',
                '@item.Tip',
                @item.Position,
                @if (@item.IsVisible)
                {
                    <span>1</span>
                }
                else
                {
                    <span>0</span>
                }
                '@item.Changed',
                '@item.ChangedBy'
                );
            </td>
        </tr>
    }
</table>
