@model TrojWebApp.Models.CasesViewModel

@{
    ViewData["Title"] = @ViewBag.CaseTypeAndTitle;

}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Cases" asp-action="Index" title="Tillbaka till lista av uppdrag"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = Model.CaseId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]</h1>
@if (ViewBag.CaseActive == false)
{
    <h3><span class="label label-danger">Uppdraget är inte aktivt!</span></h3>
}
@if (ViewBag.CaseSecrecy)
{
    <h3><span class="label label-danger">SEKRETESS</span></h3>
}
<div class="row">
    <div class="col-sm-2">
        <table border="0" class="table table-condensed table-no-border">
            <tr>
                <td class="head">Klient:</td>
                <td class="head">Underlag:</td>
                <td class="head">Ombud:</td>
                <td class="head">Skapad:</td>
                <td class="head">Aktiv:</td>
                <td class="head">Avslutad:</td>
                <td class="head"></td>
                <td class="head"></td>
                <td class="head"></td>
            </tr>
            <tr>
                <td class="font2" nowrap>@Html.ActionLink((string)ViewBag.Client + "/" + Model.PersonId.ToString(), "Details", "Persons", new { id = Model.PersonId })</td>
                <td class="font2" nowrap>
                    @if (ViewBag.UnderlaysAtCase != null)
                    {
                        @foreach (InvoiceUnderlaysPartialViewModel item in ViewBag.UnderlaysAtCase)
                        {
                            if (string.IsNullOrEmpty(item.UnderlayNumber))
                                @Html.ActionLink("Inget underlagsnummer", "Details", "InvoiceUnderlays", new { id = @item.InvoiceUnderlayId })
                            else
                                @Html.ActionLink((string)item.UnderlayNumber, "Details", "InvoiceUnderlays", new { id = @item.InvoiceUnderlayId })
                            <br />
                        }
                    }
                </td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Responsible)</td>
                <td class="font2" nowrap>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.CaseDate)</td>
                <td class="font2" nowrap>@Html.DisplayFor(model => model.Active)</td>
                @if (Model.FinishedDate.HasValue)
                {
                    <td class="font2" nowrap>@string.Format("{0:yyyy-MM-dd}", Model.FinishedDate)</td>
                }
                else
                {
                    <td class="font2" nowrap></td>
                }
            </tr>
        </table>
    </div>
</div>

@{
    if (ViewBag.Comment != "")
    {
        <div class="row">
            <div class="col-sm-2">
                <table class="table table-condensed table-no-border">
                    <tr>
                        <th class="head">Information:</th>
                    </tr>
                    <tr>
                        <td class="font2">@Html.Raw(@Convert.ToString(@ViewBag.Comment))</td>
                    </tr>
                </table>
            </div>
        </div>
    }
}

@{
    if (ViewBag.CaseNumbers != null)
    {
        <div class="row">
            <div class="col-sm-2" style="margin-left: 6px;">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="tablehead2">Målnummer:</th>
                            <th class="tablehead2">Instans:</th>
                            <th class="tablehead2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CaseNumbersViewModel item in ViewBag.CaseNumbers)
                        {
                            <tr>
                                <td class="tablefont2" nowrap>@item.CaseNumber</td>
                                <td class="tablefont2" nowrap>@item.CourtName</td>
                                @if (@ViewBag.DeleteCaseNumberPermission)
                                {
                                    @if (ViewBag.CaseActive)
                                    {
                                        <td class="tablefont2">@Html.ActionLink("Radera", "Delete", "CaseNumbers",  new { id = @item.CaseNumberId, caseId = Model.CaseId })</td>
                                    }
                                    else
                                    {
                                        <td class="tablefont2"></td>
                                    }
                                }
                                else
                                {
                                    <td class="tablefont2"></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

@{
    if (ViewBag.PersonsAtCase != null)
    {
        <div class="row">
            <div class="col-sm-2" style="margin-left: 6px;">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="tablehead2">Typ:</th>
                            <th class="tablehead2">Person:</th>
                            <th class="tablehead2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PersonsAtCaseViewModel item in ViewBag.PersonsAtCase)
                        {
                            <tr>
                                <td class="tablefont2" nowrap>@item.PersonType</td>
                                <td class="tablefont2" nowrap>@Html.ActionLink((string)item.FirstName + " " + (string)item.LastName + "/" + item.PersonId, "Details", "Persons", new { id = item.PersonId })</td>
                                @if (@ViewBag.DeletePersonPermission)
                                {
                                    @if (ViewBag.CaseActive)
                                    {
                                        <td class="tablefont2">@Html.ActionLink("Radera", "Delete", "PersonCases",  new { id = @item.PersonCaseId, caseId = Model.CaseId })</td>
                                    }
                                    else
                                    {
                                        <td class="tablefont2"></td>
                                    }
                                }
                                else
                                {
                                    <td class="tablefont2"></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<div class="row">
    <table class="col-md-12" nowrap>
        <tr>
            <td nowrap style="width: 100%;"></td>
            <td class="navbar-text navbar-right" nowrap>Ändrad: @string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.Changed) av: @Html.DisplayFor(model => model.ChangedBy)</td>
        </tr>
    </table>
</div>

