@model TrojWebApp.Models.CasesViewModel

@{
    ViewData["Title"] = @ViewBag.CaseTypeAndTitle;

}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active">
            @Html.ActionLink("Uppdrag", "Details", new { id = Model.CaseId })
        </li>
        <li>
            @Html.ActionLink("Ändra", "Edit", new { id = Model.CaseId })
        </li>
        <li>
            @Html.ActionLink("Addera målnummer...", "Create", "CaseNumbers", new { id = Model.CaseId })
        </li>
        <li>
            @Html.ActionLink("Addera person...", "Create", "PersonCases", new { id = Model.CaseId })
        </li>
    </ul>
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-sm-2">
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <td class="head">Klient:</td>
                    <td class="head">Underlag:</td>
                    <td class="head">Ombud:</td>
                    <td class="head">Skapad:</td>
                    <td class="head">Aktiv:</td>
                    <td class="head">Avslutad:</td>
                    <td class="head"></td>
                    <td class="head"></td>
                    <td class="head"></td>
                </tr>
                <tr>
                    <td class="font2" nowrap>@Html.ActionLink((string)ViewBag.Client + "/" + Model.PersonId.ToString(), "Details", "Persons", new { id = Model.PersonId })</td>
                    <td class="font2" nowrap>
                        @foreach (InvoiceUnderlaysPartialViewModel item in ViewBag.Underlays)
                        {
                            @Html.ActionLink((string)item.UnderlayNumber, "Details", "InvoiceUnderlays", new { id = @item.InvoiceUnderlayId })
                            <br />
                        }
                    </td>
                    <td class="font2" nowrap>@Html.DisplayFor(model => model.Responsible)</td>
                    <td class="font2" nowrap>@Html.DisplayFor(model => model.CaseDate)</td>
                    <td class="font2" nowrap>@Html.DisplayFor(model => model.Active)</td>
                    @if (Model.FinishedDate.HasValue)
                    {
                        <td class="font2" nowrap>@Model.FinishedDate.Value.ToString("yyyy-MM-dd")</td>
                    }
                    else
                    {
                        <td class="font2" nowrap></td>
                    }
                    <td class="font2" nowrap>@Html.ActionLink("Ändra...", "Edit", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Addera målnummer...", "Create", "CaseNumbers", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Addera person...", "Create", "PersonCases", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Dagboksanteckningar...", "Index", "CaseLogs", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Klientmedel...", "Index", "ClientFundings", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Addera underlag...", "Create", "InvoiceUnderlays", new { id = Model.CaseId })</td>
                    <td class="font2" nowrap>@Html.ActionLink("Åtgärder...", "Details", "WorkingTimes", new { id = Model.CaseId })</td>
                </tr>
            </table>
        </div>
    </div>

    @{
        if (ViewBag.Comment != "")
        {
            <div class="row">
                <div class="col-sm-2">
                    <table class="table table-condensed table-no-border">
                        <tr>
                            <th class="head">Information:</th>
                        </tr>
                        <tr>
                            <td class="font2">@Html.Raw(@Convert.ToString(@ViewBag.Comment))</td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    }

    @{
        if (ViewBag.CaseNumbers != null)
        {
            <div class="row">
                <div class="col-sm-2">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="tablehead2">Målnummer:</th>
                                <th class="tablehead2">Instans:</th>
                                <th class="tablehead2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CaseNumbersViewModel item in ViewBag.CaseNumbers)
                            {
                                <tr>
                                    <td class="tablefont2" nowrap>@item.CaseNumber</td>
                                    <td class="tablefont2" nowrap>@item.CourtName</td>
                                    <td class="tablefont2">@Html.ActionLink("Radera", "Delete", "CaseNumbers",  new { id = @item.CaseNumberId, caseId = Model.CaseId })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }

    @{
        if (ViewBag.PersonsAtCase != null)
        {
            <div class="row">
                <div class="col-sm-2">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="tablehead2">Typ:</th>
                                <th class="tablehead2">Person:</th>
                                <th class="tablehead2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PersonsAtCaseViewModel item in ViewBag.PersonsAtCase)
                            {
                                <tr>
                                    <td class="tablefont2" nowrap>@item.PersonType</td>
                                    <td class="tablefont2" nowrap>@Html.ActionLink((string)item.FirstName + " " + (string)item.LastName + "/" + item.PersonId, "Details", "Persons", new { id = item.PersonId })</td>
                                    <td class="tablefont2">@Html.ActionLink("Radera", "Delete", "PersonCases",  new { id = @item.PersonCaseId, caseId = Model.CaseId })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }

    <div class="row">
        <table class="col-md-12" nowrap>
            <tr>
                <td nowrap style="width: 100%;"></td>
                <td class="navbar-text navbar-right" nowrap>Ändrad: @Html.DisplayFor(model => model.Changed) av: @Html.DisplayFor(model => model.ChangedBy)</td>
            </tr>
        </table>
    </div>

</div>