@model TrojWebApp.Models.CasesViewModel

@{
    ViewData["Title"] = "Ändra uppdrag";
}
<table border="0" class="table table-condensed table-no-border">
    <tr>
        <td class="subhead" nowrap><a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id=@Model.CaseId title="Tillbaka till uppdrag"><span class='glyphicon glyphicon-home' /></a></td>
        @if (ViewBag.Menu != null)
        {
            @foreach (SubPageMenusChildViewModel menu in ViewBag.Menu)
            {
                <td class="subhead" title="@menu.Tip.ToString()" nowrap>@Html.ActionLink(menu.Title.ToString(), menu.Action.ToString(), menu.Controller.ToString(), new { id = Model.CaseId })</td>
            }
        }
        <td class="subhead" nowrap style="width: 100%;"></td>
    </tr>
</table>
<h1>@ViewData["Title"]: @Model.CaseId</h1>
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table border="0" class="table table-condensed table-no-border">
                <tr>
                    <th class="head">Typ:</th>
                    <td>
                        <select name="CaseTypeId"
                                asp-for="CaseTypeId " class="font2"
                                asp-items="@(new SelectList(ViewBag.CaseTypes,"Value","Text"))">
                        </select>
                        <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Titel:</th>
                    <td>
                        <input asp-for="Title" class="font2" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Ombud:</th>
                    <td>
                        <select name="Responsible"
                                asp-for="Responsible " class="font2"
                                asp-items="@(new SelectList(ViewBag.Employees,"Value","Text"))">
                        </select>
                        <span asp-validation-for="Responsible" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head" nowrap>Primär klient:</th>
                    <td>
                        <select name="PersonId"
                                asp-for="PersonId " class="font2"
                                asp-items="@(new SelectList(ViewBag.Persons,"Value","Text"))">
                        </select>
                        <span asp-validation-for="PersonId" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Aktiv:</th>
                    <td>
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" />
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="head">Avslutad:</th>
                    <td>
                        <input asp-for="FinishedDate" type="date" class="font2" />
                        <span asp-validation-for="FinishedDate" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="head">Information:</th>
                    <td>
                        <textarea name="Comment" class="font1" style="height:200px;width:550px;">@Html.DisplayFor(model => model.Comment)</textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Spara" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="row">
    <table class="col-md-12" nowrap>
        <tr>
            <td nowrap style="width: 100%;"></td>
            <td class="navbar-text navbar-right" nowrap>Ändrad: @Html.DisplayFor(model => model.Changed) av: @Html.DisplayFor(model => model.ChangedBy)</td>
        </tr>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
